c-fitness-programs-section article {
    margin-bottom: var(--spacing-l);
}

c-fitness-programs-section article h3 {
    padding: var(--spacing-l) 0;
    word-break: break-word;
}

c-fitness-programs-section article p {
    padding: var(--spacing-m) 0;
}
