c-articles--fitness-programs article {
    margin-bottom: var(--spacing-m);
}

c-articles--fitness-programs article h3 {
    padding: var(--spacing-m) 0;
    word-break: break-word;
}

c-articles--fitness-programs article p {
    padding: var(--spacing-m) 0;
}
