c-create-plan {
    display: block;
    padding: var(--spacing-xxl) 30px;
    width: 100%;
}

c-create-plan > input {
    margin-bottom: var(--spacing-xxl);
    width: 100%;
}

c-create-plan textarea {
    margin-bottom: var(--spacing-xxl);
    max-width: 100%;
    min-width: 100%;
}

c-create-plan > .input-heading {
    font-size: 2rem;
    font-weight: bold;
}

c-create-plan .buttons {
    display: flex;
    justify-content: space-between;
}

c-create-plan .add-training span {
    font-size: 1.5rem;
    line-height: 0;
    position: relative;
    top: 2px;
    margin-right: var(--spacing-s);
}

c-create-plan > article h3 {
    margin-bottom: var(--spacing-xxl);
}

c-create-plan > article p {
    margin-bottom: var(--spacing-xxl);
}

c-create-plan > article .video {
    margin-bottom: var(--spacing-xxl);
}

c-fitness-programs-section article {
    margin-bottom: var(--spacing-l);
    padding: var(--spacing-m) var(--spacing-xl);
    border-radius: var(--spacing-m);
    background-color: var(--secondary-bg-color);
    cursor: pointer;
}

c-fitness-programs-section article h3 {
    padding: var(--spacing-l) 0;
    word-break: break-word;
}

c-fitness-programs-section article p {
    padding: var(--spacing-m) 0;
}

c-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    padding: var(--spacing-m);
}

c-header h2 {
    word-break: break-word;
    place-self: start;
    margin: var(--spacing-l) var(--spacing-m) var(--spacing-m);
}

c-header h2 a {
    text-decoration: none;
}

c-header nav {
    flex-grow: 1;
}

c-header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}

c-header nav li {
    display: flex;
    margin: var(--spacing-m);
}

c-header nav a {
    word-wrap: break-word;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 80%;
    word-break: break-word;
}

c-header .btn {
    padding: var(--spacing-l);
}

c-header .btn-toggle-theme {
    user-select: none;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 0.65;
    -webkit-text-stroke: 1px;
}

.program {
    padding: var(--spacing-xxl) 30px;
}

.program > h1 {
    margin-bottom: var(--spacing-xxl);
}

.program > p {
    margin-bottom: var(--spacing-l);
}

c-program {
    display: block;
}

c-program article {
    margin-top: var(--spacing-l);
}

c-program h3 {
    margin-bottom: var(--spacing-xxl);
}

c-program p {
    margin-bottom: var(--spacing-l);
}

c-program .video {
    margin: var(--spacing-xxl) 0;
}

c-videos-section .category {
    margin-bottom: var(--spacing-xl);
}

c-videos-section .category > h3 {
    padding: var(--spacing-m) 0;
    margin-bottom: var(--spacing-m);
    word-break: break-word;
}

c-videos-section li {
    display: flex;
    margin-bottom: var(--spacing-l);
}

c-videos-section .video-thumbnail {
    display: flex;
    height: 68px;
    margin-right: var(--spacing-m);
    align-self: center;
}

c-videos-section .video-thumbnail img {
    object-fit: cover;
}

c-videos-section .info {
    overflow: hidden;
}

c-videos-section .info h3 {
    padding: var(--spacing-s) 0;
    margin-top: var(--spacing-s);
}

c-videos-section .info p {
    padding: var(--spacing-s) 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #333;
    --main-bg-color: #eee;
    --secondary-color: #222;
    --secondary-bg-color: #ddd;
    --third-color: #666;
    --third-bg-color: #bbb;
    --spacing-s: 0.25rem;
    --spacing-m: 0.5rem;
    --spacing-l: 0.75rem;
    --spacing-xl: 1rem;
    --spacing-xxl: 1.25rem;
}

:root.dark-theme {
    --main-color: #ccc;
    --main-bg-color: #111;
    --secondary-color: #ddd;
    --secondary-bg-color: #222;
    --third-color: #999;
    --third-bg-color: #333;
}

a {
    color: var(--main-color);
}

p {
    line-height: 1.35;
}

button,
input {
    font-size: 1rem;
}

input, textarea {
    color: var(--main-color);
    background: var(--third-bg-color);
    border: none;
    padding: var(--spacing-m);
    border-radius: var(--spacing-m);
    font-family: inherit;
    font-size: 1rem;
}

::placeholder {
    color: var(--third-color);
}

button,
.btn {
    padding: var(--spacing-s) var(--spacing-m);
    border: 2px solid;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

main {
    padding: var(--spacing-xl);
}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

c-main-heading > h1 {
    padding: var(--spacing-xl) 0;
    word-break: break-word;
}

c-main-heading > p {
    padding: var(--spacing-m) 0;
}

c-main-heading > p:last-of-type {
    margin-bottom: var(--spacing-xxl);
}

c-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.27);
    display: flex;
}

c-modal.small > .modal-wrapper {
    max-width: 768px;
}

c-modal > .modal-wrapper {
    margin: auto;
    background-color: var(--main-bg-color);
    border: 2px solid var(--main-color);
    width: 100%;
    max-width: 1024px;
    position: relative;
}

c-modal > .modal-wrapper > .exit-btn {
    position: absolute;
    top: var(--spacing-m);
    right: var(--spacing-m);
    background-color: var(--secondary-bg-color);
    border: 2px solid;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 0.82;
    text-align: center;
    font-size: 2rem;
    letter-spacing: -1px;
    cursor: default;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

c-modal .content {
    display: block;
    padding: var(--spacing-xxl);
}

c-login {
    display: flex;
    height: 100%;
}

c-login .content {
    margin: auto;
}

c-login form {
    padding: var(--spacing-xxl);
    border: 2px solid;
    text-align: center;
    display: flex;
    flex-direction: column;
}

c-login h1 {
    margin-bottom: var(--spacing-xxl);
}

c-login input {
    margin-bottom: var(--spacing-xl);
}

c-login button {
    align-self: flex-end;
    cursor: pointer;
}
