main {
    padding: var(--spacing-xl);
}

main>h1 {
    padding: var(--spacing-xl) 0;
    word-break: break-word;
}

main>p {
    padding: var(--spacing-m) 0;
    margin-bottom: var(--spacing-xl);
}

main article {
    margin-bottom: var(--spacing-m);
}

main article h3 {
    padding: var(--spacing-m) 0;
    word-break: break-word;
}

main article p {
    padding: var(--spacing-m) 0;
}