c-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border: 2px solid;
	padding: var(--spacing-m);

	h2 {
		word-break: break-word;
		place-self: start;
		margin: var(--spacing-l) var(--spacing-m) var(--spacing-m);

		a {
			text-decoration: none;
		}
	}

	nav {
		flex-grow: 1;
		
		c-header-ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			list-style: none;
			align-items: center;
		}
		
		c-header-li {
			display: flex;
			margin: var(--spacing-m);
		}
		
		a {
			word-wrap: break-word;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 80%;
			word-break: break-word;
		}
	}

	.btn {
		padding: var(--spacing-l);
	}

	.btn-toggle-theme {
		user-select: none;
		cursor: pointer;
		font-size: 1.5rem;
		line-height: 0.65;
		-webkit-text-stroke: 1px;
	}
}
