c-login {
	display: flex;
	height: 100%;

	.content {
		margin: auto;
	}

	form {
		padding: var(--spacing-xxl);
		border: 2px solid;
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	h2 {
		margin-bottom: var(--spacing-xxl);
	}

	input {
		margin-bottom: var(--spacing-xl);
	}

	button {
		align-self: flex-end;
		cursor: pointer;
	}
}
