c-fitness-programs-section {
    & article {
        margin-bottom: var(--spacing-m);
        
        h3 {
            padding: var(--spacing-m) 0;
            word-break: break-word;
        }
        
        p {
            padding: var(--spacing-m) 0;
        }
    }
}
