body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--main-color);
	background-color: var(--main-bg-color);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--main-color: #333;
	--main-bg-color: #eee;
	--secondary-color: #222;
	--secondary-bg-color: #ddd;
	--spacing-s: 0.25rem;
	--spacing-m: 0.5rem;
	--spacing-l: 0.75rem;
	--spacing-xl: 1rem;
}

:root.dark-theme {
	--main-color: #ccc;
	--main-bg-color: #111;
	--secondary-color: #ddd;
	--secondary-bg-color: #222;
}

a {
	color: var(--main-color);
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

main {
	padding: var(--spacing-xl);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--main-bg-color);
	display: flex;
}

.modal > .content {
	margin: auto;
}

.login {
	& {
		padding: var(--spacing-xl);
		border: 2px solid;
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	& h1 {
		margin: var(--spacing-m);
	}

	& input,
	& button {
		background-color: var(--secondary-bg-color);
		color: var(--secondary-color);
		border: 2px solid;
	}

	& input {
		padding: var(--spacing-s);
		margin: var(--spacing-m);
	}

	& button {
		align-self: flex-end;
		padding: var(--spacing-s) var(--spacing-m);
		margin: var(--spacing-m);
		cursor: pointer;
	}
}

main > div {
	& > h1 {
		padding: var(--spacing-xl) 0;
		word-break: break-word;
	}

	& > p {
		padding: var(--spacing-m) 0;
		margin-bottom: var(--spacing-xl);
	}
}

.video {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
