@import 'fitness-programs';
@import 'header';
@import 'videos';

html,
body {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--main-color);
	background-color: var(--main-bg-color);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--main-color: #333;
	--main-bg-color: #eee;
	--secondary-color: #222;
	--secondary-bg-color: #ddd;
	--third-color: #666;
	--third-bg-color: #bbb;
	--spacing-s: 0.25rem;
	--spacing-m: 0.5rem;
	--spacing-l: 0.75rem;
	--spacing-xl: 1rem;
	--spacing-xxl: 1.25rem;

	&.dark-theme {
		--main-color: #ccc;
		--main-bg-color: #111;
		--secondary-color: #ddd;
		--secondary-bg-color: #222;
		--third-color: #999;
		--third-bg-color: #333;
	}
}

a {
	color: var(--main-color);
}

p {
	line-height: 1.35;
}

button,
input {
	font-size: 1rem;
}

input {
	color: var(--main-color);
	background: var(--third-bg-color);
	border: none;
	padding: var(--spacing-m);
	border-radius: var(--spacing-m);
}

::placeholder {
	color: var(--third-color);
}

button,
.btn {
	padding: var(--spacing-s) var(--spacing-m);
	border: 2px solid;
	border-radius: 0.5rem;
	text-decoration: none;
	color: var(--secondary-color);
	background-color: var(--secondary-bg-color);
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

main {
	padding: var(--spacing-xl);
}

.video {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}

.text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

c-main-heading {
	> h1 {
		padding: var(--spacing-xl) 0;
		word-break: break-word;
	}

	> p {
		padding: var(--spacing-m) 0;

		&:last-of-type {
			margin-bottom: var(--spacing-xxl);
		}
	}
}

c-modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.27);
	display: flex;

	&.small > .modal-wrapper {
		max-width: 768px;
	}

	> .modal-wrapper {
		margin: auto;
		background-color: var(--main-bg-color);
		border: 2px solid var(--main-color);
		width: 100%;
		max-width: 1024px;
		position: relative;

		> .exit-btn {
			position: absolute;
			top: var(--spacing-m);
			right: var(--spacing-m);
			background-color: var(--secondary-bg-color);
			border: 2px solid;
			border-radius: 50%;
			width: 2.2rem;
			height: 2.2rem;
			line-height: 0.82;
			text-align: center;
			font-size: 2rem;
			letter-spacing: -1px;
			cursor: default;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
		}
	}
	
	.content {
		display: block;
		padding: var(--spacing-xxl);
	}
}

c-login {
	display: flex;
	height: 100%;

	.content {
		margin: auto;
	}

	form {
		padding: var(--spacing-xxl);
		border: 2px solid;
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	h1 {
		margin-bottom: var(--spacing-xxl);
	}

	input {
		margin-bottom: var(--spacing-xl);
	}

	button {
		align-self: flex-end;
		cursor: pointer;
	}
}

c-create-plan {
	display: block;
	padding: var(--spacing-xxl) 30px;
	width: 100%;

	> input {
		margin-bottom: var(--spacing-xxl);
		width: 100%;
	}

	> .input-heading {
		font-size: 2rem;
		font-weight: bold;
	}

	.buttons {
		display: flex;
		justify-content: space-between;
	}

	.add-training {
		span {
			font-size: 1.5rem;
			line-height: 0;
			position: relative;
			top: 2px;
			margin-right: var(--spacing-s);
		}
	}

	> article {
		h3 {
			margin-bottom: var(--spacing-xxl);
		}

		p {
			margin-bottom: var(--spacing-xxl);
		}

		.video {
			margin-bottom: var(--spacing-xxl);
		}
	}
}
