c-videos-section {
	.category {
		margin-bottom: var(--spacing-xl);

		> h3 {
			padding: var(--spacing-m) 0;
			margin-bottom: var(--spacing-m);
			word-break: break-word;
		}
	}

	li {
		display: flex;
		margin-bottom: var(--spacing-l);
	}

	.video-thumbnail {
		display: flex;
		height: 68px;
		margin-right: var(--spacing-m);

		img {
			object-fit: cover;
		}
	}

	.info {
		overflow: hidden;

		h3 {
			padding: var(--spacing-s) 0;
			margin-top: var(--spacing-s);
		}

		p {
			padding: var(--spacing-s) 0;
		}
	}
}
