body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
    background-color: var(--main-bg-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #333;
    --main-bg-color: #eee;
    --secondary-color: #222;
    --secondary-bg-color: #ddd;
    --spacing-s: .5rem 0 0 .5rem;
    --spacing-m: 1rem 0 0 1rem;
    --spacing-l: 1.5rem 0 0 1.5rem;
}

body.dark-theme {
    --main-color: #ccc;
    --main-bg-color: #111;
    --secondary-color: #ddd;
    --secondary-bg-color: #222;
}

a {
    color: var(--main-color);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    padding: 0 1rem 1rem 0;
}

header h1 {
    word-break: break-word;
    place-self: start;
    margin: var(--spacing-m);
}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}

nav li {
    display: flex;
    margin: var(--spacing-m);
}

nav a {
    padding: .75rem 1rem;
    border: 1px solid;
    border-radius: .5rem;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);
    word-wrap: break-word;
}