.wrapper {
    display: block;
    padding: var(--spacing-xxl) 30px;
    width: 100%;
}

.input-heading {
    margin-bottom: var(--spacing-xxl);
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}

textarea {
    margin-bottom: var(--spacing-xxl);
    max-width: 100%;
    min-width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.add-training span {
    font-size: 1.5rem;
    line-height: 0;
    position: relative;
    top: 2px;
    margin-right: var(--spacing-s);
}
