* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather", serif;
    letter-spacing: 0.0625em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

a {
    color: var(--main-color);
}

p {
    line-height: 1.35;
}

button,
input,
textarea {
    font-size: 1em;
}

input,
textarea {
    color: var(--main-color);
    background: var(--third-bg-color);
    border: none;
    padding: var(--spacing-m);
    border-radius: var(--spacing-m);
    font-family: inherit;
}

::placeholder {
    color: var(--third-color);
}

button,
.btn {
    padding: var(--spacing-s) var(--spacing-m);
    border: 2px solid var(--secondary-color);
    border-radius: var(--spacing-m);
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);
}

button:hover,
.btn:hover {
    background-color: var(--third-bg-color);
}
