a {
    padding: var(--padding, var(--spacing-l));
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius, var(--spacing-m));
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--secondary-bg-color);
    word-wrap: break-word;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 80%;
    word-break: break-word;
    display: block;
}