.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border: 2px solid;
}

h1 {
	word-break: break-word;
	place-self: start;
	margin: var(--spacing-xl) var(--spacing-l) var(--spacing-m);
}

h1 a {
	text-decoration: none;
}

nav {
	flex-grow: 1;
	margin: 0 var(--spacing-m);
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	list-style: none;
	align-items: center;
}

nav li {
	display: flex;
	margin: var(--spacing-m);
}

nav a {
	word-wrap: break-word;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 80%;
	word-break: break-word;
}

.btn {
	padding: var(--spacing-l);
}

.btn-toggle-theme {
	user-select: none;
	cursor: pointer;
	font-size: 1.5em;
	line-height: 0.65;
	-webkit-text-stroke: 1px;
}

.wrapper > label {
	display: none;
	width: 5rem;
	margin: 1rem;
	cursor: pointer;
}

.line {
	background: var(--main-color);
	height: 0.7rem;
	border-radius: 1rem;
	margin: 0.7rem 0.4rem;
}

#nav-toggle {
	display: none;
}

@media screen and (max-width: 767px) {
	.wrapper > label {
		display: block;
	}
	nav {
		display: none;
	}
	#nav-toggle:checked ~ nav {
		display: block;
		width: 100%;
		margin: 0;
	}
	#nav-toggle:checked ~ nav ul {
		flex-direction: column;
		padding: 0 var(--spacing-m) var(--spacing-s);
	}
	#nav-toggle:checked ~ nav li {
		margin: 0 0 var(--spacing-m);
		width: 100%;
	}
	#nav-toggle:checked ~ nav li a {
		width: 100%;
		padding: var(--spacing-l) var(--spacing-xl);
		border-radius: 9000px;
	}
}
