.program {
    padding: var(--spacing-xxl) 30px;

    > h2 {
        margin-bottom: var(--spacing-xxl);
    }

    > p {
        margin-bottom: var(--spacing-l);
    }
}

c-program {
    display: block;
}

c-video {
    h3 {
        margin-bottom: var(--spacing-xxl);
    }

    p {
        margin-bottom: var(--spacing-l);
    }

    .video {
        margin: var(--spacing-xxl) 0;
    }
}