nav {
	flex-grow: 1;
	margin: 0 var(--spacing-m);
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}

li {
    display: flex;
    margin: var(--spacing-m);
}

@media screen and (max-width: 767px) {
	label {
		display: block;
    }
        
	nav {
		display: block;
		width: 100%;
		margin: 0;
    }

    ul {
        flex-direction: column;
        padding: 0 var(--spacing-m) var(--spacing-s);
    }

    li {
        margin: 0 0 var(--spacing-m);
        width: 100%;
    }

    header-button, header-toggle-theme {
        width: 100%;
        --padding: var(--spacing-l) var(--spacing-xl);
        --border-radius: 9000px;
    }
}
