@import "create-plan";
@import "fitness-programs";
@import "header";
@import "login";
@import "main-heading";
@import "modal";
@import "program";
@import "videos";

html {
	font-size: 10px;
}

html,
body {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--main-color);
	background-color: var(--main-bg-color);
	font-size: 16px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.noscript {
	margin: 8px;
}

:root {
	--spacing-s: 0.5rem;
	--spacing-m: 1rem;
	--spacing-l: 1.5rem;
	--spacing-xl: 2rem;
	--spacing-xxl: 2.5rem;

	@mixin light-theme {
		--main-color: #333;
		--main-bg-color: #eee;
		--secondary-color: #222;
		--secondary-bg-color: #ddd;
		--third-color: #666;
		--third-bg-color: #bbb;
	}

	@mixin dark-theme {
		--main-color: #ccc;
		--main-bg-color: #111;
		--secondary-color: #ddd;
		--secondary-bg-color: #222;
		--third-color: #999;
		--third-bg-color: #333;
	}

	@include light-theme;

	@media (prefers-color-scheme: dark) {
		@include dark-theme;
	}

	&.light-theme {
		@include light-theme;
	}

	&.dark-theme {
		@include dark-theme;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Merriweather", serif;
	letter-spacing: 0.0625em;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 2em;
}

a {
	color: var(--main-color);
}

p {
	line-height: 1.35;
}

button,
input,
textarea {
	font-size: 1em;
}

input,
textarea {
	color: var(--main-color);
	background: var(--third-bg-color);
	border: none;
	padding: var(--spacing-m);
	border-radius: var(--spacing-m);
	font-family: inherit;
}

::placeholder {
	color: var(--third-color);
}

button,
.btn {
	padding: var(--spacing-s) var(--spacing-m);
	border: 2px solid var(--secondary-color);
	border-radius: var(--spacing-m);
	text-decoration: none;
	color: var(--secondary-color);
	background-color: var(--secondary-bg-color);

	&:hover {
		background-color: var(--third-bg-color);
	}
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

main {
	padding: var(--spacing-xl);
}

.video {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}

.text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
